aclocal.m4
Makefile
src/Makefile
*.deps
*.cache
*.in
stamp-h1
autom4te.cache
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing

src/tdm
*.o
*.exe

*.swp
*.swo
*.swn

test/
recording/
